@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 'Roboto', sans-serif;
}


body, table, form, select, option, input, textarea {
    font: inherit;
}

