@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="container text-center">
        <div class="jumbotron bg-eventures ">
            @if (this.User.IsInRole("Admin"))
            {
                <h3 class="font-weight-bold">Greetings, Administrator - @User.Identity.Name!</h3>
                <hr class="hr-2  " />
                <h4 class="font-weight-bold text-secondary">Enjoy your work.</h4>
            }
            else
            {
                <h3 class="font-weight-bold">Welcome, @User.Identity.Name!</h3>
                <hr class="hr-2 " />
                <h2 class="font-weight-bold text-secondary">Eventures wishes you an exciting experiance.</h2>
            }
        </div>
    </div>
}
@if (!this.User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="jumbotron bg-eventures ">
            <h2 class="font-weight-bold">Eventures - The best ticket service in the world.</h2>
            <hr class="hr-2 bg-dark" />
            <h4><a class="bg-eventures text-dark font-weight-bold" asp-controller="Users" asp-action="Login">Login</a> to start "everything".</h4>
            <h4><a class="bg-eventures text-dark font-weight-bold" asp-controller="Users" asp-action="Register">Register</a> if you don't have a account.</h4>
        </div>
    </div>
}