html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

thead {
    background-color: rgb(198, 196, 196);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid rgb(198, 196, 196);
  }

  tr:nth-child(even){
    background: rgb(219, 219, 219)
  }

  blockquote{
      padding: 0 0 0 10px;
    border-left: 3px solid rgb(198, 196, 196);
    font-style: italic;
}